%h1 Mundane Heroes
//div class for special stuff

<div id= "standardTrans">
<div id= "insideCenter">
%h2 Login or Create new User

= form_tag users_path, :method => :post do
 
  = label :user, :username, 'Username'
  = text_field :user, :username
  
  = label :user, :password, 'Password'
  = password_field :user, :password

  = submit_tag 'Play'
  </div>
  
  
  </div>