%h1 Login

%form
  = label :user, :email, "Username"
  = text_field :user, :email
  = label :user, :password
  = password_field :user, :password
  %input{:type => "submit", :value => "Sign in"}

%h2 Create User
 
= form_tag users_path, :method => :post do
 
  = label :user, :username, 'Username'
  = text_field :user, :username
 
  = label :user, :password, 'Password'
  = password_field :user, :password

  = submit_tag 'New user'