%h1 Mundane Heroes
//div class for special stuff

<div>
%h2 Login

= form_tag users_path, :method =>  :get do 
 
  = label :user, :username, 'Username'
  = text_field :user, :username
 
  = label :user, :password, 'Password'
  = password_field :user, :password

  = submit_tag 'Play'
  </div>
  
  
  
<div id= "lolcats">
%h2 Create User

 
= form_tag users_path, :method => :post do
 
  = label :user, :username, 'Username'
  = text_field :user, :username
 
  = label :user, :password, 'Password'
  = password_field :user, :password

  = submit_tag 'Make Account'
  </div>