%h1 Mundane Heroes
Welcome to Mundane Heroes

%li
  Username:
  =@user.username
  =link_to "logout", logout_path
<div id= "standardTrans">
%h2 Your Games
%table#games
  %thead
  -@games.each do |game|
    %tr
      %td= game.game_title
      %td= game.game_id
      %td= game.description
      %td= link_to "View", game_path(game)
=link_to "Create new Game", new_game_path
<<<<<<< HEAD

<<<<<<< HEAD

=======
=======
</div>
%h2 Characters
>>>>>>> ac6a592ae1cbeb6324ffdad7ae1536e7d152e2a7
%table#games
  %thead
  -@characters.each do |character|
    %tr
      %td= character.name
      %td= character.game_id
<<<<<<< HEAD
      %td= link_to "View"

>>>>>>> ce4fcca50ee073d6730996b716818c0a87d7daca
%h2 Join a game
=======
      %td= link_to "View", character_path(character)
<div>
%h2=link_to "Join a game", new_character_path

>>>>>>> ac6a592ae1cbeb6324ffdad7ae1536e7d152e2a7

</div>
  