%h1 Mundane Heroes
Welcome to Mundane Heroes

#notice.message= flash[:notice]
%li
  Username:
  =@user.username
  =link_to "logout", logout_path
<div id= "standardTrans">
%h2 Your Games
%table#games
  %thead
  -@games.each do |game|
    %tr
      %td= game.game_title
      %td= game.game_id
      %td= game.description
      %td= link_to "View", game_path(game)
=link_to "Create new Game", new_game_path



%h2 Characters
%table#games
  %thead
  -@characters.each do |character|
    %tr
      %td= character.name
      %td= character.game_id
      %td= link_to "View", character_path(character)

%h2=link_to "Join a game", new_character_path
</div>
